*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.container{
    width: 80%;
    margin: auto;
}
.container div{
    text-align: justify;
    word-break: break-all;
    padding-top: 6rem;
    padding: 40px;
}
.container div h1{
    text-align: center;
    text-transform: uppercase;
    color: orange;
}
.menu{
    height: 60px;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
}
.menu a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
    color: #fff;

}